{% extends 'base.html' %}

{% block content2 %}

<h2 class="text-center" >Bar Graph</h2>
<h4>Choose parameters from below:  </h4>
<p> Total Records: {{ totalrecords }}</p>
<p> Available Columns: {{ allcols }}</p>

<form method="POST" >
    {% csrf_token %}
    <label> Records Range :</label><input type="text" name="rangeNo" placeholder="  start:stop" required="" >
    <label> X-axis :</label><input type="text"  name="x_axis" required="" >
    <label> Y-axis_1st :</label><input type="text"  name="y_axis1" required="" >
    <label> Y-axis_2nd :</label><input type="text"  name="y_axis2" required="" >
    <label> Y-axis_3rd :</label><input type="text"  name="y_axis3" required="" >
    <input type="submit" value="submit">
</form>

<div>


      {% autoescape off %}
     <span style="align:center">{{ graphtitle }}</span>
          {{ plot_div }}
      {% endautoescape %}

</div>

<div class="mt-5 row justify-content-md-center breadcrumb">
    <div class="border col-2">
        <h5><a href="{% url 'graphs_list' %}">Select another Graph </a></h5>
    </div>
</div>


{% endblock %}
