{% extends 'base.html' %}

{% block content2 %}

<h2 class="text-center">Bubble Plot</h2>
<h4>Choose parameters from below:  </h4>
<p> Total Records: {{ totalrecords }}</p>
<p> Available Columns: {{ allcols }}</p>

<form method="POST" >
    {% csrf_token %}
    <label> Records Range :</label><input type="text" name="rangeNo" placeholder="  start:stop" required="" >
    <label> Dimension_1(x) :</label><input type="text"  name="dim_1" required="" >
    <label> Dimension_2(y) :</label><input type="text"  name="dim_2" required="" >
    <label> Dimension_3(size) :</label><input type="text"  name="dim_3" required="" >
    <input type="submit" value="submit">
</form>

<div>

      {% autoescape off %}
     <span style="align:center">{{ graphtitle }}</span>
          {{ plot_div }}
      {% endautoescape %}
</div>

<div class="mt-5 row justify-content-md-center breadcrumb">
    <div class="border col-2">
        <h5><a href="{% url 'graphs_list' %}">Select another Graph </a></h5>
    </div>
</div>

{% endblock %}




