{% extends 'base.html' %}

{% block content2 %}

<h1>Horizontal Stacked Bar Graph</h1>
<h3>Choose parameters from below:  </h3>
<p> Total Records: {{ totalrecords }}</p>
<p> Available Columns: {{ allcols }}</p>

<form method="POST" >
    {% csrf_token %}
    <label> Records Range :</label><input type="text" name="rangeNo" placeholder="  start:stop" required="" >
    <label> Y-axis :</label><input type="text"  name="y_axis" required="" >
    <label> X_1 :</label><input type="text"  name="x_1" required="" >
    <label> X_2 :</label><input type="text"  name="x_2" required="" >
    <label> X_3 :</label><input type="text"  name="x_3" required="" >
    <input type="submit" value="submit">
</form>

<div>

      {% autoescape off %}
     <span style="align:center">{{ graphtitle }}</span>
          {{ plot_div }}
      {% endautoescape %}
</div>

<div class="mt-5 row justify-content-md-center breadcrumb">
    <div class="border col-2">
        <h5><a href="{% url 'graphs_list' %}">See Graphs List </a></h5>
    </div>
</div>

{% endblock %}

