{% extends 'base.html' %}

{% block content2 %}

<h1>Pie Graph</h1>
<h3>Choose parameters from below:  </h3>
<p> Total Records: {{ totalrecords }}</p>
<p> Available Columns: {{ allcols }}</p>

<form method="POST" >
    {% csrf_token %}
    <label> Records Range :</label><input type="text" name="rangeNo" placeholder="  start:stop" required="">
    <label> Field :</label><input type="text"  name="categories" required="">
    <label> Field Values :</label><input type="text"  name="values" required="">
    <input type="submit" value="submit">
</form>

<div>


      {% autoescape off %}
     <span style="align:center">{{ graphtitle }}</span>
          {{ plot_div }}
      {% endautoescape %}

</div>

<div class="mt-5 row justify-content-md-center breadcrumb">
    <div class="border col-2">
        <h5><a href="{% url 'graphs_list' %}">See Graphs List </a></h5>
    </div>
</div>

{% endblock %}

</html>