{% extends 'base.html' %}
{% load  static %}

{% block content2 %}

<div class="dataresult-div">
    <h2 class="text-center"> The details of your CSV file : ' {{ filetitle }} ' </h2>
    <div class="m-4">
        <p><b>Total Records:</b> {{ totalrecords }}</p>
        <p><b>Total Columns:</b> {{ totalcols }}</p>
        <p><b>All columns list:</b> {{ allcols }}</p>
    </div>
</div>


<div class="mt-5 row justify-content-md-center breadcrumb">
    <div class="border col-2">
        <h5><a href="{% url 'graphs_list' %}">See Graphs List </a></h5>
    </div>
    <div class="border col-3">
        <h5><a href="{% url 'upload_file' %}">Upload another CSV file</a></h5>
    </div>
</div>

{% endblock %}